.logo {
    background: url("/assets/images/emblema-branco.png") no-repeat -15px -10px;
    background-size: 80px;
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: white !important;
    border-bottom: 1px solid #093B6E;
    margin-bottom: 25px;
    font-size: 15px;
}

.navbar-text, .nav-link, .dropdown-menu, .dropdown-item {
    color: #093B6E !important;
    font-size: 15px;
}

.btn-primary {
    background-color: #093B6E;
    border-color: #093B6E;
}

caption {
    padding: 2px 2px 4px 10px;
    font-weight: bold;
    color: white !important;
    background-color: #093B6E !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

td.reduced {
    width: 1% !important;
    text-wrap: nowrap;
    padding: 8px 15px 8px 8px;
}

td.minimal {
    width: 1% !important;
    text-wrap: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: 8px 15px 8px 15px;
}

td.minimal i {
    font-size: 13px !important;
    height: 18px;
    width: 13px;
    align-content: center;
}

th.minimal {
    text-align: center;
    vertical-align: middle;
}

.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #a3a8ac;
    text-align: center;

}

.error404 {
    text-align: center;
}

.form-control {
    border-color: rgba(9, 59, 110, 0.3);
}

input.form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    border-color: rgba(9, 59, 110, 0.3);
}

.form-label, .col-form-label {
    color: #093B6E !important;

}

.form-control-plaintext, .text-muted {
    color: #999999 !important;
    border-color: transparent;
}

.form-floating>.form-control:not(:placeholder-shown)~label {
    transform: scale(0.85) translateY(-0.5rem) translateX(0.50rem);
}